blis==0.7.4
cached-property==1.5.2
catalogue==2.0.4
certifi==2021.5.30
cffi==1.14.6
charset-normalizer==2.0.3
click==7.1.2
cloudpickle==1.2.2
contextvars==2.4
cycler==0.10.0
cymem==2.0.5
dataclasses==0.8
decorator==4.4.2
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.1.0/en_core_web_sm-3.1.0-py3-none-any.whl
filelock==3.0.12
Flask==2.0.1
future==0.18.2
gevent==1.3.5
googledrivedownloader==0.4
greenlet==0.4.13
gym==0.15.4
h5py==3.1.0
hashids==1.3.1
huggingface-hub==0.0.12
idna==3.2
immutables==0.15
importlib-metadata==4.6.4
isodate==0.6.0
itsdangerous==2.0.1
jericho==3.0.5
Jinja2==3.0.1
joblib==1.0.1
jsonpatch==1.32
jsonpointer==2.1
kiwisolver==1.3.1
MarkupSafe==2.0.1
matplotlib==2.2.3
more-itertools==8.8.0
murmurhash==1.0.5
networkx==2.1
nltk==3.3
numpy==1.17.0
olefile==0.46
opencv-python==4.5.3.56
packaging==21.0
pandas==1.1.5
pathy==0.6.0
Pillow @ file:///tmp/build/80754af9/pillow_1625649052827/work
preshed==3.0.5
prompt-toolkit==2.0.10
pybars3==0.9.7
pycparser==2.20
pydantic==1.8.2
pydot==1.4.2
pyglet==1.3.2
PyMeta3==0.5.1
pyparsing==2.4.7
python-dateutil==2.8.2
python-louvain==0.15
pytz==2021.1
PyYAML==5.4.1
pyzmq==22.1.0
rdflib==5.0.0
regex==2021.7.6
requests==2.26.0
sacremoses==0.0.45
scikit-learn==0.24.2
scipy==1.5.4
selenium==3.141.0
six @ file:///tmp/build/80754af9/six_1623709665295/work
smart-open==5.1.0
spacy==3.1.1
spacy-legacy==3.0.8
srsly==2.4.1
TatSu==4.4.0
textworld @ https://github.com/Microsoft/TextWorld/archive/rebased-interactive-qa.zip
thinc==8.0.8
threadpoolctl==2.2.0
tokenizers==0.10.3
torch==1.9.0
torch-geometric==1.7.2
torch-scatter==2.0.8
torch-sparse==0.6.11
torchfile==0.1.0
torchvision==0.5.0
tornado==6.1
tqdm==4.61.2
transformers==4.9.2
typer==0.3.2
typing-extensions==3.10.0.0
urllib3==1.26.6
urwid==2.1.2
visdom==0.1.8.9
wasabi==0.8.2
wcwidth==0.2.5
websocket-client==1.1.0
Werkzeug==2.0.1
zipp==3.5.0
